body {
    background-color: #f8f8f8;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top20 {
    margin-top: 20px;
}

.top25 {
    margin-top: 25px;
}

.top30 {
    margin-top: 30px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-muted-2 {
    color: #a8b6c3!important
}

.p8 {
    padding: 8px;
}

.menu {
    position: absolute;
    top: 15px;
    align-self: flex-end;
    z-index: 2;
}

.menuItem {
    font-size: 12px;
}

.clock {
    text-align: center;
    height: auto;
}

.rounded-corners {
    border-radius: 4px;
}

.shadow {
    background-color: white;
    box-shadow: 1px 1px 9px 4px #eaeaea;
    border: 1px solid #ddd;
}

.clock h1 {
    font-size: 45px;
    color: rgb(75, 75, 75);
    letter-spacing: 10px;
}

